<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <meta name="viewport"
      content="width=device-width,initial-scale=1">
  <link rel="stylesheet"
      media="all"
      href="/application.css"/>

  <!-- Use Javascript from rails demo to get socket support. -->
  <script type="module">
      import {Turbo, cable} from '/turbo-from-rails-demo-as-of-sha1-622bdfeb.js';
  </script>

  <script src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.js"></script>
  <script>
    (() => {
      const application = Stimulus.Application.start()

      application.register(
        "reset_form",
        class extends Stimulus.Controller {
          reset() {
            this.element.reset();
          }
      })
    })()

  </script>
</head>

<body>
