{{> head}}

<h1>New Message</h1>

<p>
  <a href="/rooms/{{roomId}}">Back</a>
</p>

<form action="/rooms/{{roomId}}/messages/new"
    method="post">
  <label for="content">Content:</label><br> <input type="text"
    id="content"
    name="content"
    value=""><br> <input type="submit"
    value="Send"/> <input type="hidden"
    id="roomId"
    name="roomId"
    value="{{roomId}}"/>
</form>

{{> tail}}
