{{> head}}

{{#notice}}<p id="notice">{{notice}}</p>{{/notice}}


<turbo-frame id="room">
  <h1>Room {{room.name}}</h1>

  <p>
    <a href="/rooms/{{room.id}}/edit">Edit</a> <a href="/rooms"
      data-turbo-frame="_top">Back</a>
  </p>
</turbo-frame>

<div id="messages">
  {{#messages}}
    {{> message}}
  {{/messages}}
</div>

<!--
   A "lazy-loaded" frame has a src attribute.

   "Lazy" because the src is not fetched until after the containing page is
   loaded.

   As with a non-lazy frame, the contents are replaced by the matching frame
   ID in the fetch result.
-->
<turbo-frame id="new_message"
    src="/rooms/{{room.id}}/messages/new"
    target="_top"/>

{{> tail}}
