<h1>New Room</h1>

<p>
  <a href="/rooms">Back</a>
</p>

<form action="/rooms/new"
    method="post">
  <label for="content">Name:</label><br> <input type="text"
    id="name"
    name="name"
    value=""><br> <input type="submit"
    value="Send"/>
</form>
